body {
  background: linear-gradient(225deg, #FF0000, #008000, #0000FF, #FFFF00);
  background-size: 800% 800%;

  -webkit-animation: backgroundchanger 59s ease infinite;
  -moz-animation: backgroundchanger 59s ease infinite;
  -o-animation: backgroundchanger 59s ease infinite;
  animation: backgroundchanger 59s ease infinite;

  @-webkit-keyframes backgroundchanger {
    0% {
      background-position: 100% 0%;
    }
    50% {
      background-position: 0% 100%;
    }
    100% {
      background-position: 100% 0%;
    }
  }
  @-moz-keyframes backgroundchanger {
    0% {
      background-position: 100% 0%;
    }
    50% {
      background-position: 0% 100%;
    }
    100% {
      background-position: 100% 0%;
    }
  }
  @-o-keyframes backgroundchanger {
    0% {
      background-position: 100% 0%;
    }
    50% {
      background-position: 0% 100%;
    }
    100% {
      background-position: 100% 0%;
    }
  }
  @keyframes backgroundchanger {
    0% {
      background-position: 100% 0%;
    }
    50% {
      background-position: 0% 100%;
    }
    100% {
      background-position: 100% 0%;
    }
  }
}

#wrapper {
  padding-bottom: .25em;
}

#main {
  border: #c8cccf solid 1px;
  -webkit-box-shadow: 0px 10px 20px 5px rgba(0, 0, 0, 0.02);
  -moz-box-shadow: 0px 10px 20px 5px rgba(0, 0, 0, 0.02);
  box-shadow: 0px 10px 20px 5px rgba(0, 0, 0, 0.02);
}

#main img {
  width: 175px;
  height: auto;
  border-radius: 100%;
  margin-bottom: .75em;
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
}

#main img:hover {
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
}
