#wrapper {
  padding-bottom: .25em;
}

#main {
  border: #c8cccf solid 1px;
  -webkit-box-shadow: 0px 10px 20px 5px rgba(0, 0, 0, 0.02);
  -moz-box-shadow: 0px 10px 20px 5px rgba(0, 0, 0, 0.02);
  box-shadow: 0px 10px 20px 5px rgba(0, 0, 0, 0.02);
}

#main img {
  width: 175px;
  height: auto;
  border-radius: 100%;
  margin-bottom: .75em;
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
}

#main img:hover {
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
}
